<p id="notice"><%= notice %></p>

<p>
  <strong>Activity:</strong>
  <%= @enrollment.activity %>
</p>

<p>
  <strong>Member:</strong>
  <%= @enrollment.member %>
</p>

<%= link_to 'Edit', edit_enrollment_path(@enrollment) %> |
<%= link_to 'Back', enrollments_path %>
